@-webkit-keyframes animate-cloud {
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}
@-moz-keyframes animate-cloud {
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}
@-ms-keyframes animate-cloud {
    from {
        background-position: 600px 50%;
    }
    to {
        background-position: 0 100%;
    }
}
@-o-keyframes animate-cloud {
    from {
        background-position: 600px 50%;
    }
    to {
        background-position: 0 50%;
    }
}
html{
    min-height: 100%;
}
body{
    background:url(../images/cloud.png) 0 bottom repeat-x #049ec4;
    background-size: cover;
    -webkit-animation: animate-cloud 20s linear infinite;
    -moz-animation: animate-cloud 20s linear infinite;
    -ms-animation: animate-cloud 20s linear infinite;
    -o-animation: animate-cloud 20s linear infinite;
    animation: animate-cloud 20s linear infinite;
    width: 100%;
    height: auto;
}

.float-form {
    float: left;
}

.main{
    width: 100%;
    height: 100%;
    float:left;
    background-color: white;
}
/* body div setting*/

a:link {color:black;}
a:visited {color:black;}
a:hover {color:white;}
a:active {color:white;}
a.leftmargin {margin-left: 10cm}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.button-order{
    width: 100%;
    height: 100%;
    background-image: url("../images/order.PNG");
    background-position: center;
}

.button-user{
    width: 100%;
    height:100%;
    background-image: url("../images/user.PNG");
    background-size: cover;
    background-position: center;
}

.top {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size:50px;
}
.top2{
    width:100%;
    height: 20%;
    float:left;
    background-color: white;
}

.left-img{
    width: 50%;
    height: 330px;
    text-align: center;
    float:left;
}
.right-img{
    width: 50%;
    height: 330px;
    text-align: center;
    float:left;
}

.table1{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
    border-collapse:collapse;
    border: 1px solid #e3e3e3;
}

.table1 tr, .table1 tr td, .table1 tr th{
    border: 1px solid #e3e3e3;
    text-align: left;
}

.table1 tr td textarea, .table1 tr td .input-field {
    width: 80%;
    height: 100%;
    border: 1px solid #e3e3e3;
}

.input-radio {
    height: 100%;
    text-align: center;
    border: 1px solid #e3e3e3;
}

.table2{
    width: 100%;
}

.align-left {
    text-align: left;
}

.align-right {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}